{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Configurações</title>
	</head>
	<body>
		<nav class="navbar navbar-light" style="background-color: #E4C1FF;">
			<ul class="nav justify-content-start">
				<li class="nav-item">
					<a class="navbar-brand" href="/"> <!--inicial -->
					   	<img src="{% static 'imagens/inicial.svg' %}" width="30" height="30" alt="Inicial">
					</a>
				</li>
				<li class="nav-item">
			  		<span class="navbar-brand mb-0 h1">Configurações</span>
			  	</li>
		  	</ul>
			<ul class="nav justify-content-end">
			  	<li class="nav-item">
			    	<a class="navbar-brand" href="/configuracoes"> <!--configuracoes -->
			    		<img src="{% static 'imagens/configuracoes.svg' %}" width="30" height="30" alt="Configurações">
			  		</a>
			  	</li>			  
			 	 <li class="nav-item">
			   		<a class="navbar-brand" href="/usuario">
			    	<!-- inserir a imagem do usuario -->
			    		<img src="{% static 'imagens/usuario.svg' %}" width="30" height="30" alt="Usuário">
			  		</a>
			  	</li>
			</ul>
		</nav>

		<div class="container" style="margin-top: 5px;">
			<div class="border border-dark" style="padding: 20px; margin-top: 10px;">
				<h2>Configurações Gerais</h2>
				<form method="POST" action="{% url 'configuracoes' %}">
					{% csrf_token %}
					<div class="form-group">
						<!-- modo escuro ou claro -->
						<select class="form-control" id="aparecia_tela" name="aparecia_tela" required>
						  	<option>Aparência da Tela</option>
						  	<option value='C'>Claro</option>
						  	<option value='E'>Escuro</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>

			<div class="border border-dark" style="padding: 20px; margin-top: 10px;">
				<h2>Configurações da Página de Recebimentos</h2>
				<form method="POST" action="{% url 'configuracoes' %}">
					{% csrf_token %}
					<div class="form-group form-check">
					    <input type="checkbox" class="form-check-input" id="notificacaoRecebimentos" name="notificacaoRecebimentos" onchange="toggleDiasNotificacaoReceb()">
					    <label class="form-check-label" for="notificacaoRecebimentos">Receber notificação quando a data do meu recebimento se aproximar.</label>
					</div>
					
					<!-- notificação perguntando do recebimento com quantos dias de antecedencia? -->
					<div class="form-group">
						<label for="diasNotificacaoReceb">Quantos dias de antecedencia você deseja receber a notificação?</label>
						<input type="integer" class="form-control" id="diasNotificacaoReceb" name="diasNotificacaoReceb" aria-describedby="valor" placeholder="Valor" disabled>
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			    <!-- personalizar notificação -->
			</div>

			<div class="border border-dark" style="padding: 20px; margin-top: 10px;">
				<h2>Configurações da Página de Gastos</h2>
				<form method="POST" action="{% url 'configuracoes' %}">
					{% csrf_token %}
					<div class="form-group">
						<!-- notificação perguntando se teve gastos no dia -->
						<div class="form-group form-check">
						    <input type="checkbox" class="form-check-input" id="notificacaoGastos" name="notificacaoGastos" onchange="toggleDiasNotificacaoGastos()">
						    <label class="form-check-label" for="notificacaoGastos">Receber notificação para perguntar se ocorreram gastos.</label>
						</div>
						<div class="form-group">
							<select class="custom-select mr-sm-2" id="diasNotificacaoGastos" name="diasNotificacaoGastos" disabled>
						        <option selected>Período entre notificações</option>
						        <option value="1">Uma vez por dia</option>
						        <option value="2">A cada dois dias</option>
						        <option value="3">Uma vez por semana</option>
						        <option value="4">Uma vez a cada duas semanas</option>
						        <option value="5">Uma vez a cada quinzena</option>
						        <option value="6">Uma vez por mês</option>
						    </select>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
			
			<div class="border border-dark" style="padding: 20px; margin-top: 10px;">
				<h2>Configurações da Página de Contas</h2>
				<form method="POST" action="{% url 'configuracoes' %}">
					{% csrf_token %}
				<!-- notificação para pagar a conta com quantos dias de antecedencia? -->
					<div class="form-group form-check">
					    <input type="checkbox" class="form-check-input" id="notificacaoContas" name="notificacaoContas" onchange="toggleDiasNotificacaoContas()">
					    <label class="form-check-label" for="notificacaoContas">Receber notificação para perguntar contas foram pagas.</label>
					</div>
					<div class="form-group">
						<label for="diasNotificacaoContas">Quantos dias de antecedencia você deseja receber a notificação?</label>
						<input type="integer" class="form-control" id="diasNotificacaoContas" name="diasNotificacaoContas" aria-describedby="valor" placeholder="Valor" disabled>
					</div>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
			<!-- <h2>Configurações de Fatura do Cartão de Crédito</h2> -->
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script>
			function toggleDiasNotificacaoReceb() {
			    const checkBox = document.getElementById('notificacaoRecebimentos');
			    const inputField = document.getElementById('diasNotificacaoReceb');
			    inputField.disabled = !checkBox.checked;
			}

			function toggleDiasNotificacaoGastos() {
			    const checkBox = document.getElementById('notificacaoGastos');
			    const selectField = document.getElementById('diasNotificacaoGastos');
			    selectField.disabled = !checkBox.checked;
			}

			function toggleDiasNotificacaoContas() {
			    const checkBox = document.getElementById('notificacaoContas');
			    const inputField = document.getElementById('diasNotificacaoContas');
			    inputField.disabled = !checkBox.checked;
			}
		</script>
	</body>
</html>